<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%= content_for(:title) || "PolyBanque" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PolyBanque">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>

<header>
  <h1>PolyBanque</h1>
  <nav>
    <%= link_to "Home", root_path %>

    <% if authenticated? %>
      <h3>Hello, <%= Current.user.username || "user" %> !</h3>
      <%= button_to "Log out", session_path, method: :delete %>
    <% else %>
      <h3>Welcome, visitor !</h3>
    <% end %>
  </nav>

  <%= render "layouts/flashes" %>
</header>
<hr>
<%= yield %>
<hr>
<footer>
  <%= link_to "Page précédente", _back_url %>
</footer>

</body>
</html>
