<%= form_with(model: operation, url: target, local: true, data: { controller: 'operation-form' }) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>
      <ul>
        <% operation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nom" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :author_id, "Auteur (la personne qui a payé)" %>
    <%= form.collection_select :author_id, operation.group.users, :id, :username %>
  </div>

  <div>
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, step: 0.01, data: { 'operation-form-target': 'totalAmount', action: 'input->operation-form#updateParticipations' } %>
  </div>

  <div>
    <button type="button" data-action="click->operation-form#splitEqually">Partager équitablement</button>
  </div>

  <h3>Participations</h3>
  <%= form.fields_for :participations do |participation_form| %>
    <fieldset data-operation-form-target="participationField">
      <legend>Participation de <%= participation_form.object.user.username %></legend>

      <%= participation_form.hidden_field :user_id %>

      <div>
        <%= participation_form.number_field :amount_share, step: 0.01, data: { 'operation-form-target': 'amountShare', action: 'input->operation-form#checkValidity' } %>
      </div>
    </fieldset>
  <% end %>

  <div data-operation-form-target="validationMessage" style="color: red;">
  </div>

  <div>
    <%= form.submit "Save", data: { 'operation-form-target': 'submitButton' } %>
  </div>
<% end %>