<%= form_with(model: operation, url: target, local: true) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>
      <ul>
        <% operation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# If creating a new operation, we need to pass the group_id context %>
  <% if operation.new_record? && operation.group_id.present? %>
    <%= hidden_field_tag :group_id, operation.group_id %>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% if editing %>
    <div>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>
  <% end %>

  <div>
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, step: 0.01 %>
  </div>

  <h3>Participations</h3>
  <%= form.fields_for :participations do |participation_form| %>
    <fieldset>
      <legend>Participation de <%= participation_form.object.user.username %></legend>

      <%= participation_form.hidden_field :user_id %>

      <div>
        <%= participation_form.number_field :amount_share, step: 0.01 %>
      </div>
    </fieldset>
  <% end %>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>